# Líneas de fin de archivo
*.cfv  text eol=lf
*.cpp  text eol=lf
*.h    text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.sh   text eol=lf
*.yml  text eol=lf

# Binarios
outputs/cforge-master binary
*.png  binary
*.vsix binary
*.exe  binary

# GitHub Linguist — C-Forge es el lenguaje del repo
*.cfv linguist-language=C-Forge linguist-detectable=true

# Todo lo demás no cuenta en las estadísticas
*.cpp linguist-generated=true
*.h   linguist-generated=true
*.ll  linguist-generated=true
*.s   linguist-generated=true
*.sh  linguist-vendored=true
*.js  linguist-vendored=true
*.cs  linguist-vendored=true
*.c   linguist-vendored=true
*.rb  linguist-vendored=true
