class Cforge < Formula
  desc "Lenguaje de programación C-Forge"
  homepage "https://github.com/VemorisGroup/C-Forge"
  url "https://github.com/VemorisGroup/C-Forge/archive/refs/tags/vVERSION.tar.gz"
  sha256 "SHA256"
  license :cannot_represent

  depends_on "openssl@3"

  def install
    system ENV.cxx, "-std=c++20", "-O2", "-DCFV_WITH_OPENSSL",
      "-Iinclude", "-I#{Formula["openssl@3"].opt_include}", "cforgev.cpp",
      "-L#{Formula["openssl@3"].opt_lib}", "-lssl", "-lcrypto", "-o", "cforge"
    bin.install "cforge"
    bin.install_symlink "cforge" => "cforgev"
    (lib/"cforge/stdlib").install Dir["stdlib/*.cfv"]
  end

  test do
    (testpath/"hola.cfv").write 'mostrar("Homebrew C-Forge OK")'
    assert_match "C-Forge", shell_output("#{bin}/cforge --version")
    assert_match "Homebrew C-Forge OK", shell_output("#{bin}/cforge #{testpath}/hola.cfv")
  end
end
